html {
    background-color: silver;
}

body {
    background-color: darkgrey;
    width: 95%;
    
    /* height: 100%; */
    margin: 0 auto;
}
#container {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 800px;
    justify-content: space-around;
}

#title {    
    width: 30%;
    height: 250px;
    background-color: turquoise;
    text-align: center;
    border: solid 1px black;
    margin: 5px; 
}

#images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding-left: 10px;

}
img{
    margin: 10px;
}

@media screen and (max-width:560px){
    #title {       
        width: 100%; 
    }
    #images {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }

    #container {
        display: flex;
        flex-direction: column;
        }

    img {
        width: calc(50% - 20px) 
        }

}
@media screen and (min-width:560px){
    #container {
        display: flex;
        align-items: center;
        flex-direction: row;
        height: 100%;
        justify-content: space-around;
          }        
}
